In [1]:
# Step 1: Load your data, including testing/training split from Project 1.
import pandas as pd
import numpy as np
employee_data = pd.read_csv("Employee_attrition.csv")
employee_data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [4]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import mglearn

import warnings
warnings.filterwarnings('ignore')

In [2]:
X = employee_data.drop(['Attrition', 'Over18', 'MonthlyRate','EducationField', 'BusinessTravel', 'EmployeeCount', 'EmployeeNumber', 'OverTime', 'StockOptionLevel'],axis=1)
print(X)
y = employee_data['Attrition'].values
print("X.shape: {}  y.shape: {}".format(X.shape, y.shape))

      Age  DailyRate              Department  DistanceFromHome  Education  \
0      41       1102                   Sales                 1          2
1      49        279  Research & Development                 8          1
2      37       1373  Research & Development                 2          2
3      33       1392  Research & Development                 3          4
4      27        591  Research & Development                 2          1
...   ...        ...                     ...               ...        ...
1465   36        884  Research & Development                23          2
1466   39        613  Research & Development                 6          1
1467   27        155  Research & Development                 4          3
1468   49       1023                   Sales                 2          3
1469   34        628  Research & Development                 8          3

      EnvironmentSatisfaction  Gender  HourlyRate  JobInvolvement  JobLevel  \
0                           2  Female          94               3         2
1                           3    Male          61               2         2
2                           4    Male          92               2         1
3                           4  Female          56               3         1
4                           1    Male          40               3         1
...                       ...     ...         ...             ...       ...
1465                        3    Male          41               4         2
1466                        4    Male          42               2         3
1467                        2    Male          87               4         2
1468                        4    Male          63               2         2
1469                        2    Male          82               4         2

      ... PerformanceRating  RelationshipSatisfaction StandardHours  \
0     ...                 3                         1            80
1     ...                 4                         4            80
2     ...                 3                         2            80
3     ...                 3                         3            80
4     ...                 3                         4            80
...   ...               ...                       ...           ...
1465  ...                 3                         3            80
1466  ...                 3                         1            80
1467  ...                 4                         2            80
1468  ...                 3                         4            80
1469  ...                 3                         1            80

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
...                 ...                    ...              ...
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
...              ...                 ...                      ...
1465               5                   2                        0
1466               7                   7                        1
1467               6                   2                        0
1468               9                   6                        0
1469               4                   3                        1

      YearsWithCurrManager
0                        5
1                        7
2                        0
3                        0
4                        2
...                    ...
1465                     3
1466                     7
1467                     3
1468                     8
1469                     2

[1470 rows x 26 columns]
X.shape: (1470, 26)  y.shape: (1470,)

In [7]:
from sklearn.model_selection import train_test_split

# split data and labels into a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [8]:
X_train.info()
print(y_train)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 944 to 684
Data columns (total 26 columns):
Age                         1102 non-null int64
DailyRate                   1102 non-null int64
Department                  1102 non-null object
DistanceFromHome            1102 non-null int64
Education                   1102 non-null int64
EnvironmentSatisfaction     1102 non-null int64
Gender                      1102 non-null object
HourlyRate                  1102 non-null int64
JobInvolvement              1102 non-null int64
JobLevel                    1102 non-null int64
JobRole                     1102 non-null object
JobSatisfaction             1102 non-null int64
MaritalStatus               1102 non-null object
MonthlyIncome               1102 non-null int64
NumCompaniesWorked          1102 non-null int64
PercentSalaryHike           1102 non-null int64
PerformanceRating           1102 non-null int64
RelationshipSatisfaction    1102 non-null int64
StandardHours               1102 non-null int64
TotalWorkingYears           1102 non-null int64
TrainingTimesLastYear       1102 non-null int64
WorkLifeBalance             1102 non-null int64
YearsAtCompany              1102 non-null int64
YearsInCurrentRole          1102 non-null int64
YearsSinceLastPromotion     1102 non-null int64
YearsWithCurrManager        1102 non-null int64
dtypes: int64(22), object(4)
memory usage: 232.5+ KB
['No' 'No' 'No' ... 'No' 'No' 'No']

In [9]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
y_train = ordinal_encoder.fit_transform(y_train.reshape(-1, 1))
print(y_train)

[[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]

In [10]:
y_test = ordinal_encoder.fit_transform(y_test.reshape(-1, 1))
print(y_test)

[[0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]
 [0.]
 [0.]
 [1.]]

In [5]:
from sklearn.decomposition import PCA

In [11]:
# keep the first two principal components of the data
pca3 = PCA()
# fit PCA model to data
pca3.fit(employee_data)

print('-'*20 + 'Explained variance ratio' + '-'*20)
print(pca3.explained_variance_ratio_)

ValueError: could not convert string to float: 'Yes'